@import url("http://fonts.cdnfonts.com/css/averta-blackitalic");
@use "sass:math";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

html {
  font-family: "Averta-Regular", sans-serif;
}

a {
  text-decoration: none;
  outline: none;
  color: currentColor;
}

img {
  width: 100%;
  height: auto;
}

input:focus {
  outline: none;
}

.body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.page-home {
  min-height: 213.33333vw;
  position: relative;
}

@media (min-width: 1025px) {
  .page-home {
    min-height: 100vh;
  }
}

.page-home::before {
  position: absolute;
  content: "";
  width: 200vw;
  height: 106.66667vw;
  left: -100vw;
  top: 0;
  background: #39822b;
  -webkit-clip-path: polygon(100% 0%, 0% 0%, 0% 82.5%, 1% 82.44%, 2% 82.27%, 3% 81.98%, 4% 81.58%, 5% 81.08%, 6% 80.49%, 7% 79.81%, 8% 79.05%, 9% 78.23%, 10% 77.36%, 11% 76.46%, 12% 75.53%, 13% 74.59%, 14% 73.66%, 15% 72.75%, 16% 71.88%, 17% 71.05%, 18% 70.29%, 19% 69.6%, 20% 68.99%, 21% 68.48%, 22% 68.07%, 23% 67.76%, 24% 67.58%, 25% 67.5%, 26% 67.54%, 27% 67.7%, 28% 67.98%, 29% 68.36%, 30% 68.85%, 31% 69.43%, 32% 70.1%, 33% 70.84%, 34% 71.65%, 35% 72.52%, 36% 73.42%, 37% 74.35%, 38% 75.28%, 39% 76.21%, 40% 77.13%, 41% 78.01%, 42% 78.84%, 43% 79.61%, 44% 80.32%, 45% 80.93%, 46% 81.46%, 47% 81.88%, 48% 82.2%, 49% 82.41%, 50% 82.5%, 51% 82.47%, 52% 82.32%, 53% 82.07%, 54% 81.7%, 55% 81.22%, 56% 80.65%, 57% 80%, 58% 79.26%, 59% 78.46%, 60% 77.6%, 61% 76.7%, 62% 75.78%, 63% 74.84%, 64% 73.91%, 65% 72.99%, 66% 72.11%, 67% 71.27%, 68% 70.48%, 69% 69.77%, 70% 69.14%, 71% 68.61%, 72% 68.17%, 73% 67.83%, 74% 67.61%, 75% 67.51%, 76% 67.52%, 77% 67.65%, 78% 67.89%, 79% 68.25%, 80% 68.71%, 81% 69.26%, 82% 69.91%, 83% 70.64%, 84% 71.43%, 85% 72.28%, 86% 73.18%, 87% 74.1%, 88% 75.03%, 89% 75.97%, 90% 76.89%, 91% 77.78%, 92% 78.62%, 93% 79.42%, 94% 80.14%, 95% 80.78%, 96% 81.33%, 97% 81.78%, 98% 82.13%, 99% 82.36%, 100% 82.48%);
          clip-path: polygon(100% 0%, 0% 0%, 0% 82.5%, 1% 82.44%, 2% 82.27%, 3% 81.98%, 4% 81.58%, 5% 81.08%, 6% 80.49%, 7% 79.81%, 8% 79.05%, 9% 78.23%, 10% 77.36%, 11% 76.46%, 12% 75.53%, 13% 74.59%, 14% 73.66%, 15% 72.75%, 16% 71.88%, 17% 71.05%, 18% 70.29%, 19% 69.6%, 20% 68.99%, 21% 68.48%, 22% 68.07%, 23% 67.76%, 24% 67.58%, 25% 67.5%, 26% 67.54%, 27% 67.7%, 28% 67.98%, 29% 68.36%, 30% 68.85%, 31% 69.43%, 32% 70.1%, 33% 70.84%, 34% 71.65%, 35% 72.52%, 36% 73.42%, 37% 74.35%, 38% 75.28%, 39% 76.21%, 40% 77.13%, 41% 78.01%, 42% 78.84%, 43% 79.61%, 44% 80.32%, 45% 80.93%, 46% 81.46%, 47% 81.88%, 48% 82.2%, 49% 82.41%, 50% 82.5%, 51% 82.47%, 52% 82.32%, 53% 82.07%, 54% 81.7%, 55% 81.22%, 56% 80.65%, 57% 80%, 58% 79.26%, 59% 78.46%, 60% 77.6%, 61% 76.7%, 62% 75.78%, 63% 74.84%, 64% 73.91%, 65% 72.99%, 66% 72.11%, 67% 71.27%, 68% 70.48%, 69% 69.77%, 70% 69.14%, 71% 68.61%, 72% 68.17%, 73% 67.83%, 74% 67.61%, 75% 67.51%, 76% 67.52%, 77% 67.65%, 78% 67.89%, 79% 68.25%, 80% 68.71%, 81% 69.26%, 82% 69.91%, 83% 70.64%, 84% 71.43%, 85% 72.28%, 86% 73.18%, 87% 74.1%, 88% 75.03%, 89% 75.97%, 90% 76.89%, 91% 77.78%, 92% 78.62%, 93% 79.42%, 94% 80.14%, 95% 80.78%, 96% 81.33%, 97% 81.78%, 98% 82.13%, 99% 82.36%, 100% 82.48%);
  -webkit-animation: bg 20s linear infinite;
          animation: bg 20s linear infinite;
  z-index: -2;
}

@media (min-width: 1025px) {
  .page-home::before {
    height: 41.66667vw;
  }
}

@-webkit-keyframes bg {
  0% {
    left: -100vw;
  }
  100% {
    left: 0vw;
  }
}

@keyframes bg {
  0% {
    left: -100vw;
  }
  100% {
    left: 0vw;
  }
}

.page-home::after {
  position: absolute;
  content: "";
  width: 200vw;
  height: 66.66667vw;
  left: -100vw;
  bottom: 0;
  background: #1c2241;
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
  -webkit-clip-path: polygon(100% 0%, 0% 0%, 0% 82.5%, 1% 82.44%, 2% 82.27%, 3% 81.98%, 4% 81.58%, 5% 81.08%, 6% 80.49%, 7% 79.81%, 8% 79.05%, 9% 78.23%, 10% 77.36%, 11% 76.46%, 12% 75.53%, 13% 74.59%, 14% 73.66%, 15% 72.75%, 16% 71.88%, 17% 71.05%, 18% 70.29%, 19% 69.6%, 20% 68.99%, 21% 68.48%, 22% 68.07%, 23% 67.76%, 24% 67.58%, 25% 67.5%, 26% 67.54%, 27% 67.7%, 28% 67.98%, 29% 68.36%, 30% 68.85%, 31% 69.43%, 32% 70.1%, 33% 70.84%, 34% 71.65%, 35% 72.52%, 36% 73.42%, 37% 74.35%, 38% 75.28%, 39% 76.21%, 40% 77.13%, 41% 78.01%, 42% 78.84%, 43% 79.61%, 44% 80.32%, 45% 80.93%, 46% 81.46%, 47% 81.88%, 48% 82.2%, 49% 82.41%, 50% 82.5%, 51% 82.47%, 52% 82.32%, 53% 82.07%, 54% 81.7%, 55% 81.22%, 56% 80.65%, 57% 80%, 58% 79.26%, 59% 78.46%, 60% 77.6%, 61% 76.7%, 62% 75.78%, 63% 74.84%, 64% 73.91%, 65% 72.99%, 66% 72.11%, 67% 71.27%, 68% 70.48%, 69% 69.77%, 70% 69.14%, 71% 68.61%, 72% 68.17%, 73% 67.83%, 74% 67.61%, 75% 67.51%, 76% 67.52%, 77% 67.65%, 78% 67.89%, 79% 68.25%, 80% 68.71%, 81% 69.26%, 82% 69.91%, 83% 70.64%, 84% 71.43%, 85% 72.28%, 86% 73.18%, 87% 74.1%, 88% 75.03%, 89% 75.97%, 90% 76.89%, 91% 77.78%, 92% 78.62%, 93% 79.42%, 94% 80.14%, 95% 80.78%, 96% 81.33%, 97% 81.78%, 98% 82.13%, 99% 82.36%, 100% 82.48%);
          clip-path: polygon(100% 0%, 0% 0%, 0% 82.5%, 1% 82.44%, 2% 82.27%, 3% 81.98%, 4% 81.58%, 5% 81.08%, 6% 80.49%, 7% 79.81%, 8% 79.05%, 9% 78.23%, 10% 77.36%, 11% 76.46%, 12% 75.53%, 13% 74.59%, 14% 73.66%, 15% 72.75%, 16% 71.88%, 17% 71.05%, 18% 70.29%, 19% 69.6%, 20% 68.99%, 21% 68.48%, 22% 68.07%, 23% 67.76%, 24% 67.58%, 25% 67.5%, 26% 67.54%, 27% 67.7%, 28% 67.98%, 29% 68.36%, 30% 68.85%, 31% 69.43%, 32% 70.1%, 33% 70.84%, 34% 71.65%, 35% 72.52%, 36% 73.42%, 37% 74.35%, 38% 75.28%, 39% 76.21%, 40% 77.13%, 41% 78.01%, 42% 78.84%, 43% 79.61%, 44% 80.32%, 45% 80.93%, 46% 81.46%, 47% 81.88%, 48% 82.2%, 49% 82.41%, 50% 82.5%, 51% 82.47%, 52% 82.32%, 53% 82.07%, 54% 81.7%, 55% 81.22%, 56% 80.65%, 57% 80%, 58% 79.26%, 59% 78.46%, 60% 77.6%, 61% 76.7%, 62% 75.78%, 63% 74.84%, 64% 73.91%, 65% 72.99%, 66% 72.11%, 67% 71.27%, 68% 70.48%, 69% 69.77%, 70% 69.14%, 71% 68.61%, 72% 68.17%, 73% 67.83%, 74% 67.61%, 75% 67.51%, 76% 67.52%, 77% 67.65%, 78% 67.89%, 79% 68.25%, 80% 68.71%, 81% 69.26%, 82% 69.91%, 83% 70.64%, 84% 71.43%, 85% 72.28%, 86% 73.18%, 87% 74.1%, 88% 75.03%, 89% 75.97%, 90% 76.89%, 91% 77.78%, 92% 78.62%, 93% 79.42%, 94% 80.14%, 95% 80.78%, 96% 81.33%, 97% 81.78%, 98% 82.13%, 99% 82.36%, 100% 82.48%);
  -webkit-animation: bg 20s linear infinite;
          animation: bg 20s linear infinite;
  z-index: -2;
}

@media (min-width: 1025px) {
  .page-home::after {
    height: 34.72222vw;
  }
}

.page-home > .background {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-filter: brightness(40%);
          filter: brightness(40%);
}

@media (max-width: 1024px) {
  .page-home > .background {
    height: 100%;
  }
}

.page-home > .background img {
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 1024px) {
  .page-home > .background img {
    height: 100%;
  }
}

.page-home > .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-top: 28.53333vw;
  padding-left: 14.13333vw;
  padding-right: 14.13333vw;
}

@media (min-width: 1025px) {
  .page-home > .info {
    padding-top: 3.47222vw;
    padding-left: 27.77778vw;
    padding-right: 27.77778vw;
  }
}

.page-home > .info > .avatar {
  width: 19.73333vw;
  height: 19.73333vw;
  -webkit-animation: avatar 1s linear;
          animation: avatar 1s linear;
  border-radius: 50%;
  -webkit-box-shadow: 0.8vw 0.8vw 10.66667vw 0px rgba(0, 0, 0, 0.37);
          box-shadow: 0.8vw 0.8vw 10.66667vw 0px rgba(0, 0, 0, 0.37);
}

@media (min-width: 1025px) {
  .page-home > .info > .avatar {
    width: 8.33333vw;
    height: 8.33333vw;
    -webkit-box-shadow: 0.20833vw 0.20833vw 2.77778vw 0px rgba(0, 0, 0, 0.37);
            box-shadow: 0.20833vw 0.20833vw 2.77778vw 0px rgba(0, 0, 0, 0.37);
  }
}

.page-home > .info > .avatar img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
}

@-webkit-keyframes avatar {
  0% {
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
    opacity: 0;
  }
  60% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 0.2;
  }
  70% {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
    opacity: 0.3;
  }
  80% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 0.4;
  }
  90% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes avatar {
  0% {
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
    opacity: 0;
  }
  60% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 0.2;
  }
  70% {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
    opacity: 0.3;
  }
  80% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 0.4;
  }
  90% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

.page-home > .info > .name {
  margin-top: 4.26667vw;
  font-size: 4.26667vw;
  font-weight: bold;
  line-height: 5.06667vw;
  -webkit-animation: name 2s;
          animation: name 2s;
}

@media (min-width: 1025px) {
  .page-home > .info > .name {
    margin-top: 1.11111vw;
    font-size: 2.77778vw;
    line-height: 3.61111vw;
  }
}

.page-home > .info > .name span {
  font-weight: 400;
}

@-webkit-keyframes name {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.8;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes name {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.8;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

.page-home > .info > .description {
  margin-top: 0.8vw;
  font-size: 3.73333vw;
  line-height: 4.26667vw;
  -webkit-animation: name 2s;
          animation: name 2s;
}

@media (min-width: 1025px) {
  .page-home > .info > .description {
    margin-top: 1.04167vw;
    font-size: 1.38889vw;
    line-height: 1.11111vw;
  }
}

@keyframes name {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.8;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

.page-home > .info > .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.13333vw;
  padding: 1.6vw;
  background: #003aa9;
  color: white;
  font-size: 3.2vw;
  line-height: 3.73333vw;
  font-weight: 400;
  margin-top: 3.73333vw;
  border-radius: 0.53333vw;
  -webkit-animation: animation 2s ease-in-out;
          animation: animation 2s ease-in-out;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

@media (min-width: 1025px) {
  .page-home > .info > .button {
    gap: 0.55556vw;
    padding: 0.69444vw;
    font-size: 1.11111vw;
    line-height: 1.25vw;
    margin-top: 2.08333vw;
    border-radius: 0.34722vw;
  }
}

.page-home > .info > .button > .image {
  width: 4vw;
}

@media (min-width: 1025px) {
  .page-home > .info > .button > .image {
    width: 1.73611vw;
  }
}

.page-home > .info > .button:hover {
  -webkit-transform: translateY(-5%);
          transform: translateY(-5%);
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 0.34722vw 1.04167vw;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 0.34722vw 1.04167vw;
}

@-webkit-keyframes animation {
  0% {
    opacity: 0;
    background: transparent;
  }
  100% {
    opacity: 1;
    background: #003aa9;
  }
}

@keyframes animation {
  0% {
    opacity: 0;
    background: transparent;
  }
  100% {
    opacity: 1;
    background: #003aa9;
  }
}

.page-home > .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4.26667vw;
  padding-top: 4.26667vw;
  margin-top: 4.8vw;
  padding-bottom: 5.86667vw;
  border-top: 0.26667vw #d0e7d3 solid;
  border-bottom: 0.26667vw #d0e7d3 solid;
  padding-left: 14.13333vw;
  padding-right: 14.13333vw;
}

@media (min-width: 1025px) {
  .page-home > .links {
    padding-left: 27.77778vw;
    padding-right: 27.77778vw;
    gap: 1.38889vw;
    padding-top: 2.08333vw;
    margin-top: 2.08333vw;
    padding-bottom: 2.08333vw;
    border-top: 0vw #d0e7d3 solid;
    border-bottom: 0vw #d0e7d3 solid;
  }
}

.page-home > .links > .link {
  width: 100%;
  min-height: 10.66667vw;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 1.86667vw 7.73333vw 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 1.86667vw 7.73333vw 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.26667vw;
  padding: 3.2vw;
  background: white;
  font-size: 3.46667vw;
  font-weight: bolder;
  padding-right: 8vw;
  position: relative;
  -webkit-animation: link 2s;
          animation: link 2s;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

@media (min-width: 1025px) {
  .page-home > .links > .link {
    min-height: 2.77778vw;
    -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0px 0.06944vw 0.20833vw, rgba(0, 0, 0, 0.24) 0px 0.06944vw 0.20833vw;
            box-shadow: rgba(0, 0, 0, 0.12) 0px 0.06944vw 0.20833vw, rgba(0, 0, 0, 0.24) 0px 0.06944vw 0.20833vw;
    gap: 1.38889vw;
    padding: 1.38889vw 2.08333vw;
    font-size: 1.73611vw;
    padding-right: 3.47222vw;
  }
}

.page-home > .links > .link:hover {
  -webkit-transform: translateY(-5%);
          transform: translateY(-5%);
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 0.34722vw 1.04167vw;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 0.34722vw 1.04167vw;
}

.page-home > .links > .link:nth-child(even) {
  -webkit-animation: link2 2s;
          animation: link2 2s;
}

.page-home > .links > .link::before {
  position: absolute;
  content: "";
  width: 1.6vw;
  height: 3.2vw;
  background: url("../img/arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  right: 4vw;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (min-width: 1025px) {
  .page-home > .links > .link::before {
    width: 1.11111vw;
    height: 1.38889vw;
    right: 1.73611vw;
  }
}

.page-home > .links > .link > .text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: hidden;
}

.page-home > .links > .link > .text span {
  color: #898989;
  font-weight: bold;
}

.page-home > .links > .link > .img {
  width: 6.4vw;
  height: 6.4vw;
}

@media (min-width: 1025px) {
  .page-home > .links > .link > .img {
    width: 2.77778vw;
    height: 2.77778vw;
  }
}

.page-home > .links > .link > .img img {
  width: 100%;
}

@-webkit-keyframes link {
  0% {
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateX(5vw);
            transform: translateX(5vw);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes link {
  0% {
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateX(5vw);
            transform: translateX(5vw);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes link2 {
  0% {
    -webkit-transform: translateX(100vw);
            transform: translateX(100vw);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateX(-5vw);
            transform: translateX(-5vw);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes link2 {
  0% {
    -webkit-transform: translateX(100vw);
            transform: translateX(100vw);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateX(-5vw);
            transform: translateX(-5vw);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.page-home > .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 5.33333vw;
  padding-right: 5.33333vw;
  padding-top: 2.13333vw;
  padding-bottom: 8vw;
  color: white;
  -webkit-animation: footer 4s;
          animation: footer 4s;
}

@media (min-width: 1025px) {
  .page-home > .footer {
    padding-left: 6.94444vw;
    padding-right: 6.94444vw;
    padding-top: 3.47222vw;
    padding-bottom: 3.47222vw;
  }
}

@-webkit-keyframes footer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes footer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.page-home > .footer > .logo {
  width: 24.53333vw;
}

@media (min-width: 1025px) {
  .page-home > .footer > .logo {
    width: 24.30556vw;
  }
}

.page-home > .footer > .right {
  width: 45.6vw;
}

@media (min-width: 1025px) {
  .page-home > .footer > .right {
    width: 46.52778vw;
  }
}

.page-home > .footer > .right > .name {
  font-size: 1.46667vw;
  font-weight: bold;
  color: white;
  margin-bottom: 2.53333vw;
}

@media (min-width: 1025px) {
  .page-home > .footer > .right > .name {
    font-size: 1.38889vw;
    margin-bottom: 1.38889vw;
  }
}

.page-home > .footer > .right .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.8vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1025px) {
  .page-home > .footer > .right .row {
    gap: 0.69444vw;
  }
}

.page-home > .footer > .right .row > .img {
  width: 1.33333vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1025px) {
  .page-home > .footer > .right .row > .img {
    width: 1.38889vw;
  }
}

.page-home > .footer > .right .row > .text {
  font-size: 1.12vw;
  font-weight: 300;
  line-height: 1.6vw;
}

@media (min-width: 1025px) {
  .page-home > .footer > .right .row > .text {
    font-size: 1.04167vw;
    line-height: 1.25vw;
  }
}

.page-home > .footer > .right > .bot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1.6vw;
}

@media (min-width: 1025px) {
  .page-home > .footer > .right > .bot {
    margin-top: 1.38889vw;
  }
}

.page-home > .footer > .right > .bot > .left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.page-home > .footer > .right > .bot > .left > .row {
  margin-bottom: 0.26667vw;
}

@media (min-width: 1025px) {
  .page-home > .footer > .right > .bot > .left > .row {
    margin-bottom: 0.69444vw;
  }
}

.page-home > .footer > .right > .bot > .left > .row > .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #009325;
  border-radius: 100%;
  overflow: hidden;
  width: 1.33333vw;
  height: 1.33333vw;
}

@media (min-width: 1025px) {
  .page-home > .footer > .right > .bot > .left > .row > .img {
    width: 1.38889vw;
    height: 1.38889vw;
  }
}

.page-home > .footer > .right > .bot > .left > .row > .img img {
  width: 60%;
}

.page-home > .footer > .right > .bot > .right {
  width: auto;
}

.page-home > .footer > .right > .bot > .right > .phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.93333vw;
  font-size: 2.66667vw;
  font-weight: bold;
  line-height: 3.2vw;
  border: 0.20833vw #009325 solid;
  border-radius: 13.33333vw;
  padding-left: 1.33333vw;
  padding-right: 1.33333vw;
  cursor: pointer;
}

@media (min-width: 1025px) {
  .page-home > .footer > .right > .bot > .right > .phone {
    gap: 1.04167vw;
    font-size: 2.43056vw;
    line-height: 3.47222vw;
    border-radius: 3.47222vw;
    padding-left: 1.04167vw;
    padding-right: 1.04167vw;
    -webkit-transition: all 200ms;
    transition: all 200ms;
  }
  .page-home > .footer > .right > .bot > .right > .phone:hover {
    -webkit-transform: translateY(-5%);
            transform: translateY(-5%);
    -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 0.34722vw 1.04167vw;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 0.34722vw 1.04167vw;
  }
}

.page-home > .footer > .right > .bot > .right > .phone > .img {
  width: 2vw;
}

@media (min-width: 1025px) {
  .page-home > .footer > .right > .bot > .right > .phone > .img {
    width: 2.08333vw;
    -webkit-transform: translateY(3%);
            transform: translateY(3%);
  }
}

.page-home.dark > .info > .name,
.page-home.dark > .info > .description {
  color: whitesmoke;
}

.page-home.dark > .links > .link {
  background: transparent;
  border: 0.06944vw whitesmoke solid;
  color: whitesmoke;
}

.page-home.dark > .links > .link > .text span {
  color: whitesmoke;
  opacity: 0.9;
}

.page-home.dark > .links > .link img.white {
  -webkit-filter: brightness(0) invert(0.9);
          filter: brightness(0) invert(0.9);
}

.page-home.dark > .links > .link::before {
  -webkit-filter: brightness(0) invert(0.9);
          filter: brightness(0) invert(0.9);
}

.page-home.dark > .links > .link:hover {
  background: rgba(245, 245, 245, 0.166);
}
/*# sourceMappingURL=main.css.map */