@import url("http://fonts.cdnfonts.com/css/averta-blackitalic");
@use "sass:math";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

html {
  font-family: "Averta-Regular", sans-serif;
}

a {
  text-decoration: none;
  outline: none;
  color: currentColor;
}

img {
  width: 100%;
  height: auto;
}

input:focus {
  outline: none;
}

.body {
  overflow-x: hidden;
  background-image: linear-gradient(45deg, #0a42ac, #009325);
  background-attachment: fixed;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.page-home {
  min-height: 213.33333vw;
  position: relative;
  background: white;
}

@media (min-width: 1025px) {
  .page-home {
    min-height: unset;
    margin-left: 31.25vw;
    margin-right: 31.25vw;
    margin-top: 1.38889vw;
    margin-bottom: 1.38889vw;
    border-radius: 1.38889vw;
    overflow: hidden;
    -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 0.48611vw 2.01389vw 0px;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 0.48611vw 2.01389vw 0px;
  }
}

.page-home > .background {
  position: absolute;
  width: 100%;
  height: 38.4vw;
  top: 0;
  left: 0;
  z-index: 1;
  overflow: hidden;
}

@media (min-width: 1025px) {
  .page-home > .background {
    height: 13.88889vw !important;
  }
}

.page-home > .background img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.page-home > .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-top: 26.66667vw;
  padding-left: 14.13333vw;
  padding-right: 14.13333vw;
  position: relative;
  z-index: 2;
}

@media (min-width: 1025px) {
  .page-home > .info {
    padding-top: 9.375vw;
    padding-left: 3.47222vw;
    padding-right: 3.47222vw;
  }
}

.page-home > .info > .avatar {
  width: 21.86667vw;
  height: 21.86667vw;
  -webkit-animation: avatar 1s linear;
          animation: avatar 1s linear;
  border-radius: 100%;
  padding: 0;
  -webkit-box-shadow: 0vw 0.8vw 1.33333vw 0px rgba(0, 0, 0, 0.37);
          box-shadow: 0vw 0.8vw 1.33333vw 0px rgba(0, 0, 0, 0.37);
}

@media (min-width: 1025px) {
  .page-home > .info > .avatar {
    width: 8.33333vw;
    height: 8.33333vw;
    -webkit-box-shadow: 0vw 0.20833vw 0.34722vw 0px rgba(0, 0, 0, 0.37);
            box-shadow: 0vw 0.20833vw 0.34722vw 0px rgba(0, 0, 0, 0.37);
  }
}

.page-home > .info > .avatar img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@-webkit-keyframes avatar {
  0% {
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
    opacity: 0;
  }
  60% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 0.2;
  }
  70% {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
    opacity: 0.3;
  }
  80% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 0.4;
  }
  90% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes avatar {
  0% {
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
    opacity: 0;
  }
  60% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 0.2;
  }
  70% {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
    opacity: 0.3;
  }
  80% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 0.4;
  }
  90% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

.page-home > .info > .name {
  margin-top: 1.06667vw;
  font-size: 4.8vw;
  font-weight: bold;
  line-height: 5.33333vw;
  -webkit-animation: name 2s;
          animation: name 2s;
}

@media (min-width: 1025px) {
  .page-home > .info > .name {
    margin-top: 1.11111vw;
    font-size: 1.73611vw;
    line-height: 1.875vw;
  }
}

.page-home > .info > .name span {
  font-weight: 400;
}

@-webkit-keyframes name {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.8;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes name {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.8;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

.page-home > .info > .description {
  margin-top: 0.53333vw;
  font-size: 3.73333vw;
  line-height: 4.26667vw;
  -webkit-animation: name 2s;
          animation: name 2s;
}

@media (min-width: 1025px) {
  .page-home > .info > .description {
    margin-top: 1.04167vw;
    font-size: 1.38889vw;
    line-height: 1.52778vw;
  }
}

@keyframes name {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.8;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

.page-home > .info > .address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.06667vw;
  margin-top: 1.6vw;
  font-size: 3.2vw;
  line-height: 3.73333vw;
  -webkit-animation: name 2s;
          animation: name 2s;
  color: #6c6c6c;
}

@media (min-width: 1025px) {
  .page-home > .info > .address {
    margin-top: 1.04167vw;
    font-size: 1.25vw;
    line-height: 1.38889vw;
  }
}

.page-home > .info > .address > .image {
  width: 2.13333vw;
  -webkit-transform: translateY(5%);
          transform: translateY(5%);
}

@media (min-width: 1025px) {
  .page-home > .info > .address > .image {
    width: 1.04167vw;
  }
}

.page-home > .info > .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.33333vw;
  padding: 1.6vw;
  background: #003aa9;
  color: white;
  font-size: 3.2vw;
  line-height: 3.73333vw;
  font-weight: 400;
  margin-top: 5.33333vw;
  -webkit-animation: animation 2s ease-in-out;
          animation: animation 2s ease-in-out;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

@media (min-width: 1025px) {
  .page-home > .info > .button {
    gap: 0.55556vw;
    padding: 0.34722vw 1.04167vw;
    font-size: 0.97222vw;
    line-height: 1.11111vw;
    margin-top: 2.08333vw;
    border-radius: 0.34722vw;
  }
}

.page-home > .info > .button > .image {
  width: 4vw;
  -webkit-transform: translateY(5%);
          transform: translateY(5%);
}

@media (min-width: 1025px) {
  .page-home > .info > .button > .image {
    width: 1.73611vw;
  }
}

.page-home > .info > .button:hover {
  -webkit-transform: translateY(-5%);
          transform: translateY(-5%);
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 0.34722vw 1.04167vw;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 0.34722vw 1.04167vw;
}

@-webkit-keyframes animation {
  0% {
    opacity: 0;
    background: transparent;
  }
  100% {
    opacity: 1;
    background: #003aa9;
  }
}

@keyframes animation {
  0% {
    opacity: 0;
    background: transparent;
  }
  100% {
    opacity: 1;
    background: #003aa9;
  }
}

.page-home > .info > .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 17.6vw;
  padding-right: 17.6vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8vw;
  margin-top: 5.6vw;
  margin-bottom: 8.53333vw;
}

@media (min-width: 1025px) {
  .page-home > .info > .icons {
    padding-left: 4.58333vw;
    padding-right: 4.58333vw;
    gap: 2.77778vw;
    margin-top: 2.08333vw;
    margin-bottom: 2.08333vw;
  }
}

.page-home > .info > .icons > .icon {
  width: 12vw;
  height: 12vw;
  -webkit-animation: link 2s;
          animation: link 2s;
  -webkit-transition: all 200ms;
  transition: all 200ms;
  border-radius: 50%;
  position: relative;
}

@media (min-width: 1025px) {
  .page-home > .info > .icons > .icon {
    width: 3.47222vw;
    height: 3.47222vw;
  }
}

.page-home > .info > .icons > .icon > .tooltip {
  cursor: unset;
  position: absolute;
  z-index: 3;
  background: #a09f9f;
  top: -0.69444vw;
  right: 50%;
  min-width: 3.47222vw;
  min-height: 1.38889vw;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  padding: 0.55556vw;
  border-radius: 0.34722vw;
  font-size: 0.83333vw;
  opacity: 0;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  white-space: nowrap;
}

.page-home > .info > .icons > .icon > .tooltip::before {
  position: absolute;
  content: "";
  bottom: 0vw;
  right: 50%;
  width: 0.69444vw;
  height: 0.69444vw;
  background: #a09f9f;
  display: block;
  -webkit-transform: rotate(45deg) translateX(50%);
          transform: rotate(45deg) translateX(50%);
}

.page-home > .info > .icons > .icon:hover > .tooltip {
  opacity: 1;
  -webkit-transform: translate(50%, -100%);
          transform: translate(50%, -100%);
}

.page-home > .info > .icons > .icon:nth-child(n + 3) {
  -webkit-animation: link2 2s;
          animation: link2 2s;
}

.page-home > .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4.8vw;
  padding-bottom: 7.2vw;
  border-bottom: 0.26667vw #d0e7d3 solid;
  padding-left: 6.66667vw;
  padding-right: 6.66667vw;
}

@media (min-width: 1025px) {
  .page-home > .links {
    padding-left: 2.08333vw;
    padding-right: 2.08333vw;
    gap: 1.38889vw;
    padding-bottom: 3.125vw;
    padding-top: 1.04167vw;
    border-bottom: 0.06944vw #d0e7d3 solid;
  }
}

.page-home > .links > .link {
  width: 100%;
  min-height: 13.6vw;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 1.86667vw 7.73333vw 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 1.86667vw 7.73333vw 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4vw;
  padding: 2.66667vw 3.73333vw;
  background: white;
  font-size: 4.26667vw;
  font-weight: bolder;
  padding-right: 10.66667vw;
  position: relative;
  -webkit-animation: link 2s;
          animation: link 2s;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

@media (min-width: 1025px) {
  .page-home > .links > .link {
    min-height: 2.77778vw;
    -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0px 0.06944vw 0.20833vw, rgba(0, 0, 0, 0.24) 0px 0.06944vw 0.20833vw;
            box-shadow: rgba(0, 0, 0, 0.12) 0px 0.06944vw 0.20833vw, rgba(0, 0, 0, 0.24) 0px 0.06944vw 0.20833vw;
    gap: 1.38889vw;
    padding: 1.38889vw 2.08333vw;
    font-size: 1.73611vw;
    padding-right: 3.47222vw;
  }
}

.page-home > .links > .link:hover {
  -webkit-transform: translateY(-5%);
          transform: translateY(-5%);
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 0.34722vw 1.04167vw;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 0.34722vw 1.04167vw;
}

.page-home > .links > .link:nth-child(even) {
  -webkit-animation: link2 2s;
          animation: link2 2s;
}

.page-home > .links > .link::before {
  position: absolute;
  content: "";
  width: 2.66667vw;
  height: 5.6vw;
  background: url("../img/arrow2.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  right: 4.8vw;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (min-width: 1025px) {
  .page-home > .links > .link::before {
    width: 1.11111vw;
    height: 1.38889vw;
    right: 1.73611vw;
  }
}

.page-home > .links > .link > .text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: hidden;
}

.page-home > .links > .link > .text span {
  color: #898989;
  font-weight: bolder;
  font-size: 4.26667vw;
  line-height: 4.8vw;
}

@media (min-width: 1025px) {
  .page-home > .links > .link > .text span {
    font-size: 1.73611vw;
    line-height: 1.875vw;
  }
}

.page-home > .links > .link > .img {
  width: 6.4vw;
  height: 6.4vw;
}

@media (min-width: 1025px) {
  .page-home > .links > .link > .img {
    width: 2.77778vw;
    height: 2.77778vw;
  }
}

.page-home > .links > .link > .img img {
  width: 100%;
}

@-webkit-keyframes link {
  0% {
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateX(1vw);
            transform: translateX(1vw);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes link {
  0% {
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateX(1vw);
            transform: translateX(1vw);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes link2 {
  0% {
    -webkit-transform: translateX(100vw);
            transform: translateX(100vw);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateX(-1vw);
            transform: translateX(-1vw);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes link2 {
  0% {
    -webkit-transform: translateX(100vw);
            transform: translateX(100vw);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateX(-1vw);
            transform: translateX(-1vw);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.page-home > .links > .video {
  width: 100%;
  height: 46.93333vw;
}

@media (min-width: 1025px) {
  .page-home > .links > .video {
    height: 20.83333vw;
  }
}

.page-home > .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 7.46667vw;
  padding-right: 7.46667vw;
  padding-top: 8vw;
  padding-bottom: 8vw;
  color: black;
  -webkit-animation: footer 4s;
          animation: footer 4s;
}

@media (min-width: 1025px) {
  .page-home > .footer {
    padding-left: 3.47222vw;
    padding-right: 3.47222vw;
    padding-top: 3.125vw;
    padding-bottom: 3.125vw;
  }
}

@-webkit-keyframes footer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes footer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.page-home > .footer > .logo {
  width: 45.33333vw;
}

@media (min-width: 1025px) {
  .page-home > .footer > .logo {
    width: 13.88889vw;
  }
}

.page-home > .footer > .right {
  margin-top: 0.53333vw;
}

@media (min-width: 1025px) {
  .page-home > .footer > .right {
    margin-top: 0.34722vw;
  }
}

.page-home > .footer > .right > .name {
  font-size: 3.73333vw;
  line-height: 5.33333vw;
  font-weight: bold;
}

@media (min-width: 1025px) {
  .page-home > .footer > .right > .name {
    font-size: 0.90278vw;
    margin-bottom: 1.38889vw;
    line-height: 1.04167vw;
  }
}

.page-home > .footer > .right .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.6vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.6vw;
}

@media (min-width: 1025px) {
  .page-home > .footer > .right .row {
    gap: 0.69444vw;
    margin-top: 0vw;
    margin-bottom: 0.69444vw;
  }
}

.page-home > .footer > .right .row > .img {
  width: 4vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1025px) {
  .page-home > .footer > .right .row > .img {
    width: 2.08333vw;
  }
}

.page-home > .footer > .right .row > .text {
  font-size: 3.2vw;
  font-weight: 300;
  line-height: 3.73333vw;
}

@media (min-width: 1025px) {
  .page-home > .footer > .right .row > .text {
    font-size: 1.04167vw;
    line-height: 1.25vw;
  }
}

.page-home > .footer > .right > .bot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 0vw;
}

@media (min-width: 1025px) {
  .page-home > .footer > .right > .bot {
    margin-top: 0vw;
  }
}

.page-home > .footer > .right > .bot > .left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.page-home > .footer > .right > .bot > .left > .row {
  margin-bottom: 0.26667vw;
}

@media (min-width: 1025px) {
  .page-home > .footer > .right > .bot > .left > .row {
    margin-bottom: 0.69444vw;
  }
}

.page-home > .footer > .right > .bot > .left > .row > .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #009325;
  border-radius: 100%;
  overflow: hidden;
  width: 4vw;
  height: 4vw;
}

@media (min-width: 1025px) {
  .page-home > .footer > .right > .bot > .left > .row > .img {
    width: 2.08333vw;
    height: 2.08333vw;
  }
}

.page-home > .footer > .right > .bot > .left > .row > .img img {
  width: 60%;
}

.page-home > .footer > .right > .bot > .right {
  width: auto;
  margin-top: 2.8vw;
}

@media (min-width: 1025px) {
  .page-home > .footer > .right > .bot > .right {
    margin-top: 0.72917vw;
  }
}

.page-home > .footer > .right > .bot > .right > .phone {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.66667vw;
  font-size: 4.8vw;
  font-weight: bold;
  line-height: 5.33333vw;
  border: 0.26667vw #009325 solid;
  border-radius: 13.33333vw;
  padding: 1.33333vw 2.66667vw;
  cursor: pointer;
}

@media (min-width: 1025px) {
  .page-home > .footer > .right > .bot > .right > .phone {
    gap: 1.04167vw;
    font-size: 1.38889vw;
    line-height: 1.52778vw;
    border-radius: 3.47222vw;
    padding: 0.34722vw 0.69444vw;
    -webkit-transition: all 200ms;
    transition: all 200ms;
    border: 0.06944vw #009325 solid;
  }
  .page-home > .footer > .right > .bot > .right > .phone:hover {
    -webkit-transform: translateY(-5%);
            transform: translateY(-5%);
    -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 0.34722vw 1.04167vw;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 0.34722vw 1.04167vw;
  }
}

.page-home > .footer > .right > .bot > .right > .phone > .img {
  width: 4.26667vw;
  -webkit-filter: brightness(0);
          filter: brightness(0);
}

@media (min-width: 1025px) {
  .page-home > .footer > .right > .bot > .right > .phone > .img {
    width: 1.38889vw;
    -webkit-transform: translateY(3%);
            transform: translateY(3%);
  }
}

.page-home.dark > .info > .name,
.page-home.dark > .info > .description {
  color: whitesmoke;
}

.page-home.dark > .links > .link {
  background: transparent;
  border: 0.06944vw whitesmoke solid;
  color: whitesmoke;
}

.page-home.dark > .links > .link > .text span {
  color: whitesmoke;
  opacity: 0.9;
}

.page-home.dark > .links > .link img.white {
  -webkit-filter: brightness(0) invert(0.9);
          filter: brightness(0) invert(0.9);
}

.page-home.dark > .links > .link::before {
  -webkit-filter: brightness(0) invert(0.9);
          filter: brightness(0) invert(0.9);
}

.page-home.dark > .links > .link:hover {
  background: rgba(245, 245, 245, 0.166);
}
/*# sourceMappingURL=main.css.map */