.page-home {
    @include PC {
        min-height: unset;
        margin-left: p(450);
        margin-right: p(450);
        margin-top: p(20);
        margin-bottom: p(20);
        border-radius: p(20);
        overflow: hidden;
        box-shadow: rgba(100, 100, 111, 0.2) 0px p(7) p(29) 0px;
    }
    min-height: m(800);
    position: relative;
    background: white;

    & > .background {
        @include PC {
            height: p(200) !important;
        }
        position: absolute;
        width: 100%;
        height: m(144);
        top: 0;
        left: 0;
        z-index: 1;
        overflow: hidden;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    & > .info {
        @include PC {
            padding-top: p(135);
            padding-left: p(50);
            padding-right: p(50);
        }
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-top: m(100);
        padding-left: m(53);
        padding-right: m(53);
        position: relative;
        z-index: 2;

        & > .avatar {
            @include PC {
                width: p(120);
                height: p(120);
                box-shadow: m(0) p(3) p(5) 0px rgba(0, 0, 0, 0.37);
            }
            width: m(82);
            height: m(82);
            animation: avatar 1s linear;
            border-radius: 100%;
            padding: 0;
            box-shadow: m(0) m(3) m(5) 0px rgba(0, 0, 0, 0.37);

            img {
                width: 100%;
                height: 100%;
                border-radius: 100%;
                object-fit: cover;
            }

            @keyframes avatar {
                0% {
                    transform: translateY(-200%);
                    opacity: (0);
                }

                60% {
                    transform: translateY(0%);
                    opacity: (0.2);
                }

                70% {
                    transform: translateY(-20%);
                    opacity: (0.3);
                }

                80% {
                    transform: translateY(0%);
                    opacity: (0.4);
                }

                90% {
                    transform: translateY(-10%);
                    opacity: (0.5);
                }

                100% {
                    transform: translateY(0%);
                    opacity: (1);
                }
            }
        }

        & > .name {
            @include PC {
                margin-top: p(16);
                font-size: p(25);
                line-height: p(27);
            }
            margin-top: m(4);
            font-size: m(18);
            font-weight: bold;
            line-height: m(20);
            animation: name 2s;

            span {
                font-weight: 400;
            }

            @keyframes name {
                0% {
                    transform: scale(0);
                    opacity: 0;
                }

                70% {
                    transform: scale(1);
                    opacity: 0.8;
                }

                100% {
                    transform: scale(1);
                    opacity: 1;
                }
            }
        }

        & > .description {
            @include PC {
                margin-top: p(15);
                font-size: p(20);
                line-height: p(22);
            }
            margin-top: m(2);
            font-size: m(14);
            line-height: m(16);
            animation: name 2s;

            @keyframes name {
                0% {
                    transform: scale(0);
                    opacity: 0;
                }

                70% {
                    transform: scale(1);
                    opacity: 0.8;
                }

                100% {
                    transform: scale(1);
                    opacity: 1;
                }
            }
        }

        & > .address {
            @include PC {
                margin-top: p(15);
                font-size: p(18);
                line-height: p(20);
            }
            display: flex;
            justify-content: center;
            gap: m(4);
            margin-top: m(6);
            font-size: m(12);
            line-height: m(14);
            animation: name 2s;
            color: #6c6c6c;

            & > .image {
                @include PC {
                    width: p(15);
                }
                width: m(8);
                transform: translateY(5%);
            }
        }

        & > .button {
            @include PC {
                gap: p(8);
                padding: p(5) p(15);
                font-size: p(14);
                line-height: p(16);
                margin-top: p(30);
                border-radius: p(5);
            }
            display: flex;
            cursor: pointer;
            justify-content: center;
            align-items: center;
            gap: m(5);
            padding: m(6);
            background: #003aa9;
            color: white;
            font-size: m(12);
            line-height: m(14);
            font-weight: 400;
            margin-top: m(20);
            animation: animation 2s ease-in-out;
            transition: all 200ms linear;

            & > .image {
                @include PC {
                    width: p(25);
                }
                width: m(15);
                transform: translateY(5%);
            }

            &:hover {
                transform: translateY(-5%);
                box-shadow: rgba(0, 0, 0, 0.35) 0px p(5) p(15);
            }

            @keyframes animation {
                0% {
                    opacity: 0;
                    background: transparent;
                }

                100% {
                    opacity: 1;
                    background: #003aa9;
                }
            }
        }

        & > .icons {
            @include PC {
                padding-left: p(66);
                padding-right: p(66);
                gap: p(40);
                margin-top: p(30);
                margin-bottom: p(30);
            }
            display: flex;
            padding-left: m(66);
            padding-right: m(66);
            justify-content: space-between;
            align-items: center;
            gap: m(30);
            margin-top: m(21);
            margin-bottom: m(32);

            & > .icon {
                @include PC {
                    width: p(50);
                    height: p(50);
                }
                width: m(45);
                height: m(45);
                animation: link 2s;
                transition: all 200ms;
                border-radius: 50%;
                position: relative;


                & > .tooltip {
                    cursor: unset;
                    position: absolute;
                    z-index: 3;
                    background: rgb(160, 159, 159);
                    top: p(-10);
                    right: 50%;
                    min-width: p(50);
                    min-height: p(20);
                    transform: translate(50%, -50%);
                    padding: p(8);
                    border-radius: p(5);
                    font-size: p(12);
                   opacity: 0;
                   transition: all 200ms ease-in-out;
                   white-space: nowrap;

                    &::before {
                        position: absolute;
                        content: "";
                        bottom: p(0);
                        right: 50%;
                        width: p(10);
                        height: p(10);
                        background: rgb(160, 159, 159);
                        display: block;
                        transform: rotate(45deg) translateX(50%);
                    }
                }

                &:hover{
                    // @include MB{
                    //     box-shadow: rgba(0, 0, 0, 0.24) 0px m(3) m(8);
                    // }
                    // transform: translateY(-5%);
                    // box-shadow: rgba(0, 0, 0, 0.24) 0px p(3) p(8);

                    & > .tooltip{
                        opacity: 1;
                        transform: translate(50%, -100%);
                    }
                }

                &:nth-child(n + 3) {
                    animation: link2 2s;
                }

                // @keyframes link {
                //     0% {
                //         transform: translateX(-100vw);
                //         opacity: 0;
                //     }

                //     80% {
                //         transform: translateX(1vw);
                //         opacity: 1;
                //     }

                //     100% {
                //         transform: translateX(0);
                //         opacity: 1;
                //     }
                // }
            }
        }
    }

    & > .links {
        @include PC {
            padding-left: p(30);
            padding-right: p(30);
            gap: p(20);
            padding-bottom: p(45);
            padding-top: p(15);
            border-bottom: p(1) #d0e7d3 solid;
        }
        display: flex;
        flex-direction: column;
        gap: m(18);
        padding-bottom: m(27);
        border-bottom: m(1) #d0e7d3 solid;
        padding-left: m(25);
        padding-right: m(25);

        & > .link {
            @include PC {
                min-height: p(40);
                // box-shadow: rgba(100, 100, 111, 0.2) 0px p(7) p(29) 0px;
                box-shadow: rgba(0, 0, 0, 0.12) 0px p(1) p(3), rgba(0, 0, 0, 0.24) 0px p(1) p(3);
                gap: p(20);
                padding: p(20) p(30);
                font-size: p(25);
                padding-right: p(50);
            }
            width: 100%;
            min-height: m(51);
            box-shadow: rgba(100, 100, 111, 0.2) 0px m(7) m(29) 0px;
            display: flex;
            align-items: center;
            gap: m(15);
            padding: m(10) m(14);
            background: white;
            font-size: m(16);
            font-weight: bolder;
            padding-right: m(40);
            position: relative;
            animation: link 2s;
            transition: all 200ms;

            &:hover {
                transform: translateY(-5%);
                // box-shadow: rgba(0, 0, 0, 0.12) 0px p(1) p(3), rgba(0, 0, 0, 0.24) 0px p(1) p(3);
                // box-shadow: rgba(100, 100, 111, 0.2) 0px p(7) p(10) 0px;
                box-shadow: rgba(0, 0, 0, 0.35) 0px p(5) p(15);
            }

            &:nth-child(even) {
                animation: link2 2s;
            }

            &::before {
                @include PC {
                    width: p(16);
                    height: p(20);
                    right: p(25);
                }
                position: absolute;
                content: "";
                width: m(10);
                height: m(21);
                background: url("../img/arrow2.svg");
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                right: m(18);
                top: 50%;
                transform: translateY(-50%);
            }

            & > .text {
                flex: 1;
                overflow: hidden;
                span {
                    @include PC {
                        font-size: p(25);
                        line-height: p(27);
                        // margin-left: p(24);
                    }
                    color: #898989;
                    font-weight: bolder;
                    font-size: m(16);
                    line-height: m(18);
                    // margin-left: m(24);
                }
            }

            & > .img {
                @include PC {
                    width: p(40);
                    height: p(40);
                }
                width: m(24);
                height: m(24);
                // transform: translateY(6%);
                img {
                    width: 100%;
                    // height: 100%;
                }
            }

            @keyframes link {
                0% {
                    transform: translateX(-100vw);
                    opacity: 0;
                }

                80% {
                    transform: translateX(1vw);
                    opacity: 1;
                }

                100% {
                    transform: translateX(0);
                    opacity: 1;
                }
            }
            @keyframes link2 {
                0% {
                    transform: translateX(100vw);
                    opacity: 0;
                }

                80% {
                    transform: translateX(-1vw);
                    opacity: 1;
                }

                100% {
                    transform: translateX(0);
                    opacity: 1;
                }
            }
        }

        & > .video {
            @include PC {
                height: p(300);
            }
            width: 100%;
            height: m(176);
        }
    }

    & > .footer {
        @include PC {
            padding-left: p(50);
            padding-right: p(50);
            padding-top: p(45);
            padding-bottom: p(45);
        }
        display: flex;
        flex-direction: column;
        padding-left: m(28);
        padding-right: m(28);
        padding-top: m(30);
        padding-bottom: m(30);
        color: black;
        animation: footer 4s;

        @keyframes footer {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }

        & > .logo {
            @include PC {
                width: p(200);
            }
            width: m(170);
        }

        & > .right {
            @include PC {
                margin-top: p(5);
            }
            margin-top: m(2);
            & > .name {
                @include PC {
                    font-size: p(13);
                    margin-bottom: p(20);
                    line-height: p(15);
                }
                font-size: m(14);
                line-height: m(20);
                font-weight: bold;
            }

            .row {
                @include PC {
                    gap: p(10);
                    margin-top: m(0);
                    margin-bottom: p(10);
                }
                display: flex;
                gap: m(6);
                align-items: center;
                margin-top: m(6);

                & > .img {
                    @include PC {
                        width: p(30);
                    }
                    width: m(15);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                & > .text {
                    @include PC {
                        font-size: p(15);
                        line-height: p(18);
                    }
                    font-size: m(12);
                    font-weight: 300;
                    line-height: m(14);
                }
            }

            & > .bot {
                @include PC {
                    margin-top: p(0);
                }
                display: flex;
                flex-direction: column;
                margin-top: m(0);

                & > .left {
                    flex: 1;

                    & > .row {
                        @include PC {
                            margin-bottom: p(10);
                        }
                        margin-bottom: m(1);
                        & > .img {
                            @include PC {
                                width: p(30);
                                height: p(30);
                            }
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background: #009325;
                            border-radius: 100%;
                            overflow: hidden;
                            width: m(15);
                            height: m(15);
                            img {
                                width: 60%;
                            }
                        }
                    }
                }

                & > .right {
                    @include PC {
                        margin-top: p(10.5);
                    }
                    width: auto;
                    margin-top: m(10.5);

                    & > .phone {
                        @include PC {
                            gap: p(15);
                            font-size: p(20);
                            line-height: p(22);
                            border-radius: p(50);
                            padding: p(5) p(10);
                            transition: all 200ms;
                            border: p(1) #009325 solid;
                            &:hover {
                                transform: translateY(-5%);
                                // box-shadow: rgba(0, 0, 0, 0.12) 0px p(1) p(3), rgba(0, 0, 0, 0.24) 0px p(1) p(3);
                                // box-shadow: rgba(100, 100, 111, 0.2) 0px p(7) p(10) 0px;
                                box-shadow: rgba(0, 0, 0, 0.35) 0px p(5) p(15);
                            }
                        }
                        display: inline-flex;
                        justify-content: center;
                        align-items: center;
                        gap: m(10);
                        font-size: m(18);
                        font-weight: bold;
                        line-height: m(20);
                        border: m(1) #009325 solid;
                        border-radius: m(50);
                        padding: m(5) m(10);
                        cursor: pointer;

                        & > .img {
                            @include PC {
                                width: p(20);
                                transform: translateY(3%);
                            }
                            width: m(16);
                            filter: brightness(0);
                        }
                    }
                }
            }
        }
    }

    &.dark {
        & > .info {
            & > .name,
            & > .description {
                color: whitesmoke;
            }
        }

        & > .links {
            & > .link {
                background: transparent;
                border: p(1) whitesmoke solid;
                color: whitesmoke;

                & > .text {
                    span {
                        color: whitesmoke;
                        opacity: 0.9;
                    }
                }

                img.white {
                    filter: brightness(0) invert(0.9);
                }

                &::before {
                    filter: brightness(0) invert(0.9);
                }

                &:hover {
                    background: rgba(245, 245, 245, 0.166);
                }
            }
        }
    }
}
